.calculator {
  display: grid;
  grid-template-rows: 1fr repeat(5, 80px);
  grid-template-columns: repeat(4, 80px);
  grid-gap: 10px;
  justify-content: center;

  padding: 15px;
  background-color: #000000;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.calculator-screen {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;

  font-size: 80px;
  background-color: transparent;
  color: inherit;

  max-height: 180px;
  height: 180px;
  overflow-y: auto;
  word-wrap: anywhere;
}

.calculator-button {
  border-radius: 50px;
  font-size: 2em;
  width: 1fr;
  height: 1fr;

  border: 0px;
  background-color: #3a3a3a;
  color: inherit;
  transition: background 0.8s;
}

.calculator-button:hover {
  filter: brightness(90%);
}

.calculator-button:active {
  filter: brightness(50%);
  background-size: 100%;
  transition: background 0s;
}

.orange {
  background-color: #eea13b;
}

.gray {
  background-color: #b3b3b3;
  color: #000000;
}

.calculator .col-2 {
  grid-column: 1 / span 2;
}

.calculator .col-4 {
  grid-column: 1 / span 4;
}
